---
layout: default
---
<div class="container">

	<div class="row">
		<div class="col-md-9" role="main">
			{% for post in site.categories[page.category] %}
			<div id="{{post.webalized_name}}">
				<h2>{{post.title}}</h2>

				{{post.content}}
			</div>
			{% endfor %}
		</div>

		<div class="col-md-3">
			<nav class="page-sidenav hidden-print hidden-xs hidden-sm affix">
				<ul class="nav bs-docs-sidenav">
					{% for post in site.categories[page.category] %}
					<li>
						<a href="#{{post.webalized_name}}">{{post.title}}</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</div>

	</div> <!-- ./row -->
</div> <!-- ./container -->

